<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wxl.alumniMatching.mapper.MessageTeamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.wxl.alumniMatching.domain.entity.MessageTeam">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="send_time" property="sendTime" />
        <result column="send_user_id" property="sendUserId" />
        <result column="team_id" property="teamId" />
        <result column="message_show" property="messageShow" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <insert id="saveTeamMessage" parameterType="org.wxl.alumniMatching.domain.entity.MessageTeam" useGeneratedKeys="true" keyProperty="id">
        insert into tb_message_team (
                content,send_time,send_user_id,team_id,message_show,is_delete
        ) values (#{content},#{sendTime},#{sendUserId},#{teamId},0,0)
    </insert>
    <select id="selectTeamMessage" resultType="org.wxl.alumniMatching.domain.entity.MessageTeam"
            parameterType="java.lang.Long">

        SELECT *
        FROM (
                 SELECT mt.content, mt.send_user_id, mt.send_time
                 FROM tb_message_team AS mt
                          JOIN tb_message_team_user AS mtu ON mt.id = mtu.message_team_id
                 WHERE mt.team_id = #{teamId}
                   AND mt.is_delete = 0
                   AND mtu.is_delete = 0
                   AND mtu.receive_user_id = #{userId}
                   AND mt.send_time >= DATE_SUB(NOW(), INTERVAL 2 DAY)
                 UNION
                 SELECT t2.content, t2.send_user_id, t2.send_time
                 FROM tb_message_team AS t2
                 WHERE t2.send_user_id = #{userId}
                   AND t2.is_delete = 0
                   AND t2.message_show = 0
                   AND t2.send_time >= DATE_SUB(NOW(), INTERVAL 2 DAY)
                   AND t2.team_id = #{teamId}
             ) AS merged_table
        ORDER BY send_time ASC;
    </select>
</mapper>
