<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wxl.alumniMatching.mapper.MessageTeamUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.wxl.alumniMatching.domain.entity.MessageTeamUser">
        <id column="id" property="id" />
        <result column="receive_user_id" property="receiveUserId" />
        <result column="message_team_id" property="messageTeamId" />
        <result column="status" property="status" />
        <result column="send_time" property="sendTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

</mapper>
