<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wxl.alumniMatching.mapper.TeamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.wxl.alumniMatching.domain.entity.Team">
        <id column="id" property="id" />
        <result column="team_name" property="teamName" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="description" property="description" />
        <result column="max_num" property="maxNum" />
        <result column="expire_time" property="expireTime" />
        <result column="leader_id" property="leaderId" />
        <result column="status" property="status" />
        <result column="password" property="password" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <select id="getUserList" resultType="org.wxl.alumniMatching.domain.vo.UserShowVO">
        select u.id,u.username,u.avatar_url
                    from tb_team t
                     left join tb_user_team ut on t.id = ut.team_id
                     left join tb_user u on ut.user_id = u.id
                where t.id = #{teamUserListId} and t.is_delete = 0 and ut.is_delete = 0 and u.is_delete = 0;
    </select>

    <select id="getUserJoinTeamList" resultType="org.wxl.alumniMatching.domain.entity.Team"
            parameterType="java.lang.Long">
        select t.id,t.team_name,t.avatar_url,t.expire_time,t.leader_id
        from tb_team t left join tb_user_team ut on t.id = ut.team_id WHERE ut.user_id = #{userId} and t.is_delete = 0 and ut.is_delete = 0;
    </select>

    <select id="selectMatchTeams" resultType="java.lang.Long">
            select id from tb_team as t
            where max_num >= 2
              AND
                    max_num > (select count(team_id) FROM tb_user_team  where team_id = t.id)
              and
                `status` != 1 and (ISNULL(expire_time) or expire_time > SYSDATE())
                      and
                      is_delete = 0
                      and not EXISTS
                      (select team_id from tb_user_team  as tu
                                where
                                user_id  = #{userId} and is_delete = 0 and t.id = tu.team_id);
    </select>

    <select id="selectHavingExpireTime" resultType="org.wxl.alumniMatching.domain.entity.Team">
        SELECT id, expire_time
        FROM tb_team
        WHERE is_delete = 0 AND expire_time is not null and DATEDIFF(expire_time, NOW()) &lt;= 7;
    </select>


</mapper>
