<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wxl.alumniMatching.mapper.UserTeamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.wxl.alumniMatching.domain.entity.UserTeam">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="team_id" property="teamId" />
        <result column="join_time" property="joinTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <select id="getJoinTeamId" resultType="java.lang.Long" parameterType="java.lang.Long">
            select team_id from tb_user_team where user_id = #{userId} and is_delete = 0;
    </select>
    <select id="getUserTags" resultType="java.lang.String">
        SELECT u.tags FROM tb_user as u
                      where
                          is_delete = 0
                        and
                          u.tags is not null
                        and
                          u.id IN (select user_id from tb_user_team where team_id = #{teamId});
    </select>

</mapper>
